
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; 
}


.app-container {
  display: flex;
  justify-content: center;      
  align-items: center;          
  height: 100vh;                
  width: 100vw;                 
  text-align: center;           
}

.welcome-container {
  padding: 2rem;
  background: #ffffff;  
  color: rgb(0, 0, 0);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.welcome-container h2 {
  margin-bottom: 1rem;
}

.welcome-container button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #4338ca;
  color: white;
  cursor: pointer;
}

.welcome-container button:hover {
  background-color: #3128b0;
}


.login-form {
  width: min(90%, 400px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
}

.login-form input,
.login-form button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
}

.login-form input {
  border: 1px solid #ccc;
}

.login-form button {
  border: none;
  cursor: pointer;
  background: #4f46e5;
  color: white;
}

.login-form button:hover {
  background: #4338ca;
}
